* {
    margin: 0;
    padding: 0;
    font-family: 'Consolas';
}

.center {
    max-width: 1000px;
    margin: 0 auto;
}

/*#region navbar*/
#navbar {
    background-image: initial;
    background-color: #3f44461c;
    border-bottom: solid 1px #777777;
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
}

#navbar img {
    margin: 10px 0;
    width: 9.5vh;
    height: auto;
}

#navbar ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

#navbar li {
    font-size: 22px;
    padding: 0 20px;
}

#navbar .menuBar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    padding: 10px;
    font-weight: 600;
}

#navbar a:hover {
    color: #000013;
}

#navbar a:visited a:active a:link {
    color: #FFF;
}

/*#endregion navbar*/

/*#region Home */
#home {
    background-image: url(../img/animated_bg.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.my_info {
    display: flex;
    align-items: center;
}

.presentation {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
}

.profile_logo {
    height: 9vh;
    padding: 0 10px;
}

.myName {
    display: inline;
    font-size: 3rem;
    color: #008dce;
}

.myName::after {
    content: '|';
    opacity: 1;
    animation: name .7s infinite;
}

@keyframes name {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/*#endregion Home */